*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--button-primary);
}
body{
    --background: #FAFAFA;
    --white:#ffffff;
    --black:#000000;
    --button-primary:#3c96ed;
    --border-primary:#e6e6e6;
    

    height: 100%;
    width: 100%;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}
#wrapper{
    height: 100vh;
}
#container{
    margin: 0 auto;
    min-height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
}
.column{
    flex-grow: 1;
    width: 50%;
}
.left{
    background-image: url("/assets/main-foto.png");
    background-size: 450px;
    background-position: center;
    height: 600px;
    margin-bottom: 50px;
}
.right{
    padding-left: 20px;
}
.login-painel{
    background-color: var(--white);
    padding: 20px 0;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.logo-img{
    width: 175px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
input[type="password"], input[type="text"]{
    background-color: var(--white);
    border: 1px solid var(--border-primary);
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    width: 320px;
    color: #000000;
}
input[type="password"]::placeholder, input[type="text"]::placeholder{
    color: var(--border-primary);
}
input[type="password"]:focus, input[type="text"]:focus{
    outline: 0;
    border: 1px solid var(--black);
}
input[type="submit"]{
    background-color: var(--button-primary);
    color: var(--white);
    border: none;
    height: 30px;
    border-radius: 4px;
    margin-top: 10px;
    width: 320px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.infobox{
    background-color: var(--white);
    height: 60px;
    border: 1px solid rgb(236,234,234);
    margin: 10px auto 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.infobox p a{
    color: var(--button-primary);
    font-weight: bold;
    user-select: none;
}
.get-app-panel{
    margin-top: 20px;
    text-align: center;
}
.app-buttons{
    margin-top: 16px;
}
.app-buttons img{
    height: 40px;
    padding: 0 2px;
}
footer{
    text-align: center;
    height: 50px;
    margin-top: -50px;
}
footer a{
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 8px;
}
.text-small{
    font-size: 12px;
    font-weight: bold;
    color: var(--border-primary);
    text-transform: uppercase;
    padding-left: 20px;
    display: inline-block;
}
/*Pagina de cadastro*/
#container-signup{
    margin: 0 auto;
    min-height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message{
    margin: 10px 70px;
}
.message span{
    color: #8e8e8e;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}
.cta-button{
    background-color: var(--button-primary);
    color: var(--white);
    border: none;
    height: 30px;
    border-radius: 4px;
    margin-top: 10px;
    width: 320px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.divisor-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin: 10px 0;
}
.formulario-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.line{
    height: 1px;
    background-color: var(--border-primary);
    width: 35%;
}
.divisor-tag{
    margin: 0 2.5%;
    color: var(--border-primary);
    font-weight: bold;
}
/*Fim da pagina de cadastro*/

/*responsividade*/
@media (max-width: 850px){
    #container{
        width: 60%;
        padding: 0 20px;
    }
    .left{
        display: none;
    }
    .right{
        padding: 0;
    }
}
@media (max-width: 560px){
    #container{
        width:100%;
    }
    #container-signup{
        width: 100%;
    }

    input[type="password"], input[type="text"], input[type="submit"]{
        width: 80%;
    }
    
    .cta-button{
        width: 80%;
    }
    .message{
        margin: 10px 20px;
    }
}